.h5p-word-find {
    border: 2px solid #eeeeee;
}
.h5p-task-description {
    font-family: Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 1.125em;
    margin-bottom: 0.8em;
    padding: 8px;
    border-bottom: 2px solid #eeeeee;
}
.h5p-word-find .gameContainer {
    display: table;
    table-layout: auto;
    width: 100%;
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    /*max-width: 68.25em;*/
    position:relative;
}
.h5p-word-find .gameContainer > div {
    background: #c3e5f1 none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: table-cell;
    float: left;
    border: solid 2px #eeeeee;
    list-style: none;
    text-align: center;
}
.h5p-word-find .puzzleContainer {
    max-width: 70%;
    cursor: pointer;
    font-size: 20px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
}
.h5p-word-find .vocabularyContainer {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h5p-word-find-row {
    display: block;
    align-content: center;
}
.h5p-word-find-row .puzzleSquare {
    margin: 3px;
    border-radius: 5px;
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 0;
    text-transform: uppercase;
    -webkit-touch-callout: none;

    max-width: 64px !important;
    max-height: 64px !important;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    position: relative;

    /* iOS Safari */

    -webkit-user-select: none;
    /* Safari */

    -khtml-user-select: none;
    /* Konqueror HTML */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* Internet Explorer/Edge */

    user-select: none;
}

.h5p-word-find-row .selected  span{
    /*background-color: orange !important;*/
    position:absolute;

}
.h5p-word-find-row .selected span{

  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  border-radius:20px;
}
/* indicates that the square is part of a word that has been found */

.h5p-word-find-row .found {
    background-color: blue;
    color: white;
}
.h5p-word-find-row .solved {
    background-color: purple;
    color: white;
}
/* indicates that all words have been found */

.h5p-word-find-row .complete {
    background-color: green;
}
.h5p-word-find .vocabularyContainer ul {
    list-style-type: none;
    margin: 0 !important;
}
.h5p-word-find .vocabularyContainer .vocHeading {
    color: red;
    text-transform: capitalize;
    ;
}
.h5p-word-find .vocabularyContainer li {
    font: 1em sans-serif;
    text-align: left;
}
.h5p-word-find .vocabularyContainer .wordFound {
    text-decoration: line-through;
    color: gray;
}
.h5p-word-find .footerContainer {
    clear: both;
    border-top: 2px solid #eeeeee;
    padding-top: 8px;
}
.h5p-word-find .feedback-container {
    padding-left: 8px;
}
.h5p-word-find .feedback-text {
    display: block;
    color: #1a73d9;
}


canvas{
  position:absolute;
  top:0;
  left:0;
}
